* {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: bold;
color: #57534c;
text-decoration: none;
line-height: 24px;
}

table {
border-top: 1px solid #57534c;
border-right: 1px solid #57534c;
padding: 0
}

td {
border-bottom: 1px solid #57534c;
border-left: 1px solid #57534c;
padding: 5px
}

.header {
font-size: 15px;
color: #3B5998
}

select {
width: 250px
}